<!DOCTYPE html>
<html>
<head>
	
	<title>Mobilités IUAR</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    
    
	
</head>
<body>

<main>

    <h1>Enquete mobilités IUAR 2021: les déplacements quotidiens</h1>

    <h2>Instructions sur l'identifiant</h2>
    <p>
        Nous allons vous demander, en complément du questionnaire, de tracer votre trajet type entre votre domicile et votre lieu d'étude avec les différents modes de transport. Cela est un exercice assez intuitif qui nous permettra par la suite d'établir un trajet "type" d'un étudiant en Master 1 Urbanisme et Aménagement qui, par exemple habite à Aix et à Marseille. 
        <br> Pour cette partie, nous allons nous baser sur un <a href="https://www.researchgate.net/publication/324208940_Design_and_Application_of_Self-Generated_Identification_Codes_SGICs_for_Matching_Longitudinal_Data"> un code confidentiel auto-généré</a> par les enquêté.e.s qui vous sera également demandé dans le questionnaire, ce code nous permettra de faire le lien entre les réponses du questionnaire et votre trajet.
    </p>
    <p>
        Votre code se construit avec ces 4 étapes:
        <ul>
            <li>La première lettre du prénom de votre mère</li>
            <li>le dernier chiffre de votre jour d’anniversaire</li>
            <li>la première lettre du prénom de votre père</li>
            <li>le nombre de frère et combien de frère et sœurs vous avez </li>
        </ul>
    </p>
        
    <p>
    Exemple : Si votre mère s’appelle <u>A</u>lice, que vous êtes né le 1<u>4</u>, votre père <u>B</u>ob, et avez <u>2</u> frères 
    votre code sera <strong>A4B2</strong> 

        
        <form action="/traitement" id="form_validation" method="post" style="text-align: left;">
            <label for="self_id" ><strong>identifiant auto-genéré:</strong></label>
            <input type="text" id="self_id" name="self_id" placeholder="ex: A4B2" required>
            <input type="hidden" name="chemin" id="chemins-field" required>
        </form>
        
    <h2>
        Instructions sur la carte
    </h2>

    <p>
        Pour tracer votre trajet type entre votre domicile et l'IUAR (lieu d'étude, indiqué par le ping bleu),  les étapes sont: 
        <ul>
            <li>Commencez par choisir votre mode de transport (marche, voiture, bus, etc...) dans la boite à outils sur la gauche de la carte</li>
            <li>Il vous suffit ensuite de cliquer et de tracer votre trajet jusqu’à changer de mode de transport</li>
            <li>Pour changer de mode de transport il vous suffit de cliquer sur un nouveau mode de transport dans la boite à outils et de continuer votre tracer jusqu'à l'IUAR</li>
        </ul>
    </p>
    <p>Exemple: Si vous habitez aux alentours de la gare Saint-Charles <i> marche puis train puis marche </i> </p>
    <p>
        Vous pouvez revenir en arriere avec &nbsp; <i class="fas fa-arrow-left"></i> , ou recommencer le chemin depuis le début avec &nbsp; <i class="fas fa-undo"></i>
    </p>

    <p>
        Note: Avec l'identifiant recolté ci-dessus, nous n'avons pas la possiblité de savoir qui vous êtes, cependant si vous ne souhaitez pas commencer directement à votre domicile, vous pouvez vous réferer à la grande rue la plus proche, ou à un périmètre équivalent à votre temps de trajet habituel
    </p>
    <br>

    <div id="map" style="height: 450px;"></div>
    
    <br>

    <input form="form_validation" type="submit" value="Valider">

</main>

<footer>
    <p>

        <i class="fas fa-envelope"></i> contact : <span class="reverse">rf.uma-vinu.ute@ariub.nitnelav</span>
    </p>
    

    <p>  
        <a href="https://github.com/Poulpator/mobilites_iuar">
            
            <i class="fab fa-github"></i> code source du site
        </a>
    </p>
        
</footer>

<script>


    //Aix en provence : [43.52, 5.44]
    map = L.map('map').setView( [43.52, 5.44], 13);
    map.locate({setView:true, maxZoom:13});
    //var map = L.map('map').locate({setView:true, maxZoom:13});


	var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(map);

    // var marker = L.marker([51.5, -0.09]).addTo(map);
    // marker.bindPopup("<b>hello world</b>").openPopup();

    var iuar_marker  = L.marker([43.518182, 5.443168]).addTo(map);
    iuar_marker.bindPopup("<b>IUAR</b>");


                   
    

    // var TransportEnum = {
    //     MARCHE  : 0,
    //     VELO    : 1,
    //     VOITURE : 2
    // };
    var color_coding_transport = {
        MARCHE : "blue",
        VELO : "green", // libre service / personnel ?
        VOITURE : "red", //covoiturage
        BUS : "pink", //car bhns ?
        TRAIN : "yellow",
        TROTTINETTE : "orange",
        METRO : "brown",
        TRAM : "white",
        DEUX_ROUES : "gray"

    };

    var current_transport = color_coding_transport.MARCHE;
    var last_transport = current_transport;
    
    /*
    button :
    - reset 
    - undo
    - redo (si le temps)
    - un part mode de transports 

    */



    
    var but_undo = L.easyButton('fa-arrow-left', function(btn, map){
        
        if (chemin.length == 0) {
            //console.log("cas 1")
            return
        }

        var last_line = chemin[chemin.length - 1];
        if (last_line.line_points.length > 2) {
            //console.log("cas 2 et 3");
            last_line.line_points.pop();
            last_line.polyline.setLatLngs(last_line.line_points);
        }
        else if (last_line.line_points.length <= 2){
            //console.log("cas 4 et 4 bis");
            last_line.polyline.removeFrom(map);
            chemin.pop();
        }

        //remove preview
        if (chemin.length == 0) {
            //suprrimer la preview
            preview_polyline.setLatLngs([]);
        } else {
            //recup le dernier point
            let tmp_line = preview_polyline.getLatLngs();
            tmp_line[0] = chemin[chemin.length -1 ].line_points.slice(-1)[0]
            preview_polyline.setLatLngs(tmp_line);
        }
        
    });

    var but_reset = L.easyButton('fa-undo', function(btn, map){

        while(elt = chemin.pop()){
            elt.polyline.removeFrom(map);
        }
        preview_polyline.setLatLngs([]);

    });


    buttons_navigation = [but_undo, but_reset];
    L.easyBar(buttons_navigation).addTo(map)



    function SwitchModeTransport(NouveauModeTransport) {
        last_transport = current_transport;
        current_transport = NouveauModeTransport;
    }

    var but_walk = L.easyButton('fa-walking', function(btn, map){
        SwitchModeTransport(color_coding_transport.MARCHE);
    }).addTo(map);

    var but_velo = L.easyButton('fa-bicycle', function(btn, map){
        SwitchModeTransport(color_coding_transport.VELO);
    }).addTo(map);

    var but_train = L.easyButton('fa-train', function(btn, map){
        SwitchModeTransport(color_coding_transport.TRAIN);
    }).addTo(map);

    var but_bus = L.easyButton('fa-bus', function(btn, map){
        SwitchModeTransport(color_coding_transport.BUS);
    }).addTo(map);

    var but_voiture = L.easyButton('fa-car', function(btn, map){
        SwitchModeTransport(color_coding_transport.VOITURE);
    }).addTo(map);

    var button_transport = [ but_walk, but_velo, but_train, but_bus, but_voiture]
    L.easyBar(button_transport).addTo(map);

    
    function TestFunction() {
        console.log("test");
    }

    L.Control.Watermark = L.Control.extend({
        onAdd: function(map) {
            // var img = L.DomUtil.create('img');

            // img.src = '../../docs/images/logo.png';
            // img.style.width = '200px';

            // return img;
            // var button = L.DomUtil.create('a', );
            // button.innerHTML= "test";
            
            var button = L.DomUtil.create('a');
            button.innerHTML = "test";
            button.href = '#';
            button.title = "test";

            L.DomEvent.disableClickPropagation(button);
            L.DomEvent.on(button, 'click', L.DomEvent.stop);
            L.DomEvent.on(button, 'click', TestFunction, this);
            L.DomEvent.on(button, 'click', this._refocusOnMap, this);
            return button
        },

        onRemove: function(map) {
            // Nothing to do here
        }
    });

    L.control.watermark = function(opts) {
        return new L.Control.Watermark(opts);
    }
    L.control.watermark({ position: 'topleft' }).addTo(map);
    
    //peut etre le retablir pour un tuto ? 
    // var popup = L.popup();   

    var chemin = [];

    function onMapClick(e) {
        //peut etre le retablir pour un tuto ? 
        // popup
        //     .setLatLng(e.latlng)
        //     .setContent("You clicked the map at " + e.latlng.toString())
        //     .openOn(map);

        if(current_transport != last_transport || chemin.length == 0 || current_transport != chemin[chemin.length-1].color){
            chemin.push({
                "color" : current_transport,
                "line_points" : [],
                "polyline" : L.polyline([], {color: current_transport}).addTo(map)
            })

            if(chemin.length > 1) {
                // on ne part pas de zéro donc on reprend le dernier point
                var  derniere_line = chemin[chemin.length - 2]
                var  last_point = derniere_line.line_points[derniere_line.line_points.length -1]
                chemin[chemin.length - 1].line_points.push( last_point);
            }
            last_transport= current_transport;
        }

        let last_line = chemin[chemin.length - 1];
        last_line.line_points.push(e.latlng);
        last_line.polyline.setLatLngs(last_line.line_points);

    }

    var preview_polyline = L.polyline([], {color: "pink"}).addTo(map);
    function OnMouseMove(e) {
        if(chemin.length == 0){
            return
        }

        let last_line = chemin[chemin.length - 1];

        let preview_line = last_line.line_points.slice(-1);
        preview_line.push(e.latlng);
        preview_polyline.setLatLngs(preview_line);


        preview_polyline.setStyle({color:current_transport})
        //preview_polyline.redraw();



    }

    function OnSubmit() {
        console.log("on submuit ! ")
        var hidden = document.querySelector("#chemins-field");
        
        //resolve circular dependancy 
        var tmp_chemin = chemin;
        tmp_chemin.map((e) => delete e.polyline);
        hidden.value = JSON.stringify(tmp_chemin);

        return true;

    }

    map.on('click', onMapClick);
    map.on('mousemove', OnMouseMove);

    document.querySelector('form').addEventListener("submit", OnSubmit);

</script>



</body>
</html>
