<!DOCTYPE html>
<html>
<head>
	
	<title>Mobilités IUAR</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
	
</head>
<body>

<main>

    <h1>Enquête mobilités IUAR 2021: les déplacements quotidiens</h1>

    <h2>Instructions sur l'identifiant</h2>
    <p>
        Nous allons vous demander, en complément du questionnaire, de tracer votre trajet type entre votre domicile et votre lieu d'étude avec les différents modes de transport. Cela est un exercice assez intuitif qui nous permettra par la suite d'établir un trajet "type" d'un étudiant en Master 1 Urbanisme et Aménagement qui, par exemple habite à Aix et à Marseille. 
        <br> Pour cette partie, nous allons nous baser sur un <a href="https://www.researchgate.net/publication/324208940_Design_and_Application_of_Self-Generated_Identification_Codes_SGICs_for_Matching_Longitudinal_Data"> un code confidentiel auto-généré</a> par les enquêté.e.s qui vous sera également demandé dans le questionnaire, ce code nous permettra de faire le lien entre les réponses du questionnaire et votre trajet.
    </p>
    <p>
        Votre code se construit avec ces 4 étapes:
        <ul>
            <li>La première lettre du prénom de votre mère</li>
            <li>le dernier chiffre de votre jour d’anniversaire</li>
            <li>la première lettre du prénom de votre père</li>
            <li>le nombre de frère et combien de frère et sœurs que vous avez </li>
        </ul>
    </p>
        
    <p>
    Exemple : Si votre mère s’appelle <u>A</u>lice, que vous êtes né le 1<u>4</u>, votre père <u>B</u>ob, et avez <u>2</u> frères 
    votre code sera <strong>A4B2</strong> 

        
        <form action="/traitement" id="form_validation" method="post" style="text-align: left;">
            <label for="self_id" ><strong>identifiant auto-genéré:</strong></label>
            <input type="text" id="self_id" name="self_id" placeholder="ex: A4B2" required>
            <input type="hidden" name="chemin" id="chemins-field" required>
        </form>
    </p>   
    <h2>
        Instructions sur la carte
    </h2>

    <p>
        Pour tracer votre trajet type entre votre domicile et l'IUAR (lieu d'étude, indiqué par le ping bleu),  les étapes sont: 
        <ul>
            <li>Commencez par choisir votre mode de transport (marche, voiture, bus, etc...) dans la boite à outils sur la gauche de la carte</li>
            <li>Il vous suffit ensuite de cliquer et de tracer votre trajet jusqu’à changer de mode de transport</li>
            <li>Pour changer de mode de transport il vous suffit de cliquer sur un nouveau mode de transport dans la boite à outils et de continuer votre tracer jusqu'à l'IUAR</li>
        </ul>
    </p>
    <p>Exemple: Si vous habitez aux alentours de la gare Saint-Charles <i> marche puis train puis marche </i> </p>
    <p>
        Vous pouvez revenir en arriere avec &nbsp; <i class="fas fa-arrow-left"></i> , ou recommencer le chemin depuis le début avec &nbsp; <i class="fas fa-undo"></i>
    </p>

    <p>
        Note: Avec l'identifiant recolté ci-dessus, nous n'avons pas la possiblité de savoir qui vous êtes, cependant si vous ne souhaitez pas commencer directement à votre domicile, vous pouvez vous réferer à la grande rue la plus proche, ou à un périmètre équivalent à votre temps de trajet habituel
    </p>

    <p id="error_map" class="error">
        <!-- vide tant qu'il n'y a pas d'erreur -->
    </p>
    <div id="map" style="height: 450px;"></div>
    
    <br>

    <input form="form_validation" type="submit" value="Valider">

</main>

<footer>
    <p>

        <i class="fas fa-envelope"></i> contact : <span class="reverse">rf.uma-vinu.ute@ariub.nitnelav</span>
    </p>
    

    <p>  
        <a href="https://github.com/Poulpator/mobilites_iuar">
            
            <i class="fab fa-github"></i> code source du site
        </a>
    </p>
        
</footer>

<script>


    //Aix en provence : [43.52, 5.44]
    map = L.map('map').setView( [43.52, 5.44], 13);
    map.locate({setView:true, maxZoom:13});
    //var map = L.map('map').locate({setView:true, maxZoom:13});


	var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(map);

    // var marker = L.marker([51.5, -0.09]).addTo(map);
    // marker.bindPopup("<b>hello world</b>").openPopup();

    var iuar_marker  = L.marker([43.518182, 5.443168]).addTo(map);
    iuar_marker.bindPopup("<b>IUAR</b>");


    //enum 
    var color_coding_transport = {
        MARCHE : "blue",
        VELO : "green", // libre service / personnel ?
        VOITURE : "orange", 
        COVOITURAGE : "violet", //covoiturage
        BUS : "pink", //car bhns ?
        TRAIN : "yellow",
        AUTRE : "red",
        METRO : "brown",
        TRAM : "black",
        DEUX_ROUES : "gray"

    };

    var current_transport = color_coding_transport.MARCHE;
    var last_transport = current_transport;
    
    
    var but_undo = L.easyButton('fa-arrow-left', function(btn, map){
        
        if (chemin.length == 0) {
            //console.log("cas 1")
            return
        }

        var last_line = chemin[chemin.length - 1];
        if (last_line.line_points.length > 2) {
            //console.log("cas 2 et 3");
            last_line.line_points.pop();
            last_line.polyline.setLatLngs(last_line.line_points);
        }
        else if (last_line.line_points.length <= 2){
            //console.log("cas 4 et 4 bis");
            last_line.polyline.removeFrom(map);
            chemin.pop();
        }

        //remove preview
        if (chemin.length == 0) {
            //suprrimer la preview
            preview_polyline.setLatLngs([]);
        } else {
            //recup le dernier point
            let tmp_line = preview_polyline.getLatLngs();
            tmp_line[0] = chemin[chemin.length -1 ].line_points.slice(-1)[0]
            preview_polyline.setLatLngs(tmp_line);
        }
        
    });

    var but_reset = L.easyButton('fa-undo', function(btn, map){

        while(elt = chemin.pop()){
            elt.polyline.removeFrom(map);
        }
        preview_polyline.setLatLngs([]);

    });


    buttons_navigation = [but_undo, but_reset];
    L.easyBar(buttons_navigation).addTo(map)

    function SwitchModeTransport(NouveauModeTransport) {
        last_transport = current_transport;
        current_transport = NouveauModeTransport;
    }

    L.Control.TransportButton = L.Control.extend({

        options : {
            position: 'topleft', //defaut leaflet
            activated : false
        },

        initialize: function(options) {
            L.setOptions(this, options);
        },

        onAdd: function(map) {
            fn = function(btn) {TestFunction();return};

            return this._createButton('<span class="star">&starf;test2</span>', "test2 start" ,fn, null, null);
        },

        _createButton(inner_html, title, fn, container, control_bar) {

            this.control_bar = control_bar;

            this._button = L.DomUtil.create('button', "transport-button", container);
 
            this._button.innerHTML = inner_html;
            this._button.href = '#';
            this._button.title = title;

            L.DomEvent.disableClickPropagation(this._button);
            L.DomEvent.on(this._button, 'click', L.DomEvent.stop);
            L.DomEvent.on(this._button, 'click', function(e){
                
                fn(this._button);

                //reset tous les boutons par défaut
                this.control_bar._resetButtons();
                //active le bouton actuel
                this.options.activated = true;
                //update tous les boutons
                this.control_bar._update();
            }, this);
            L.DomEvent.on(this._button, 'click', this._refocusOnMap, this);

            return this._button;
        },

        _update: function(){
            className = "button_activated"
            if (this.options.activated) {
                //add class      
                L.DomUtil.addClass(this._button, className);
            } 
            else {
                //remove class
                L.DomUtil.removeClass(this._button, className);    
            }
        }
        
    })

    
    function TestFunction() {
        console.log("test");
    }

   /* var mybutton = new L.Control.TransportButton({ position: 'topleft' });
    mybutton.addTo(map)
    */

    L.Control.TransportBar = L.Control.extend({

        options : {
            position: 'topleft', //defaut leaflet
        },

        _buttons : [],

        onAdd : function(map){
            var container = L.DomUtil.create('div', 'leaflet-bar transport-bar');

            internal_createButton = (glyph, text, color_coding) => {
                //fonction pour simplifier rajouter des boutons
                let but = new L.Control.TransportButton()
                but._createButton(`<i class="fas ${glyph} fa-fw"></i> &nbsp;${text}&nbsp;<i class="fa fa-square" style="color: ${color_coding}; text-shadow: 0 0 1px #000;"></i>`, 
                                  text,
                                  function(btn) {SwitchModeTransport(color_coding);},
                                  container,
                                  this);
                this._buttons.push(but)
            }

            // var but = new L.Control.TransportButton()
            // but._createButton('<i class="fas fa-moon"></i>&nbsp;test', "test2 moon" ,TestFunction, container, this);
            // this._buttons.push(but)

            internal_createButton("fa-walking", "Marche", color_coding_transport.MARCHE);
            internal_createButton("fa-bicycle", "Velo/Trottinette", color_coding_transport.VELO);
            internal_createButton("fa-train", "Train", color_coding_transport.TRAIN);
            internal_createButton("fa-car", "Voiture", color_coding_transport.VOITURE);
            internal_createButton("fa-car", "Covoiture", color_coding_transport.COVOITURAGE);
            internal_createButton("fa-bus", "Bus/Car", color_coding_transport.BUS);
            internal_createButton("fa-subway", "Metro", color_coding_transport.METRO);
            internal_createButton("fa-motorcycle", "Deux-roues(motorisés)", color_coding_transport.DEUX_ROUES);
            internal_createButton("fa-train", "Tram", color_coding_transport.TRAM);
            internal_createButton("fa-question-circle", "Autre", color_coding_transport.AUTRE);

            // var but2 = new L.Control.TransportButton()
            // but2._createButton('<i class="fas fa-sun fa-fw"></i>&nbsp;Deux-roues</br>(motorisés) &nbsp;<i class="fas fa-square"  style="color: yellow;  text-shadow: 0 0 1px #000;"></i>', "test2 moon" ,TestFunction, container, this);
            // this._buttons.push(but2)

            return container;         
        },

        _resetButtons: function(){
            for (let i = 0; i < this._buttons.length; i++) {
                //const element = this._buttons[i];
                this._buttons[i].options.activated = false;
            }

        },
        _update : function(){
            for (let i = 0; i < this._buttons.length; i++) {
                //const element = this._buttons[i];
                this._buttons[i]._update();
            }
        }


    })

    L.Control.transportBar = function(opts) {
        return new L.Control.TransportBar(opts);
    }

    L.Control.transportBar().addTo(map)

    //peut etre le retablir pour un tuto ? 
    // var popup = L.popup();   

    var chemin = [];

    function onMapClick(e) {
        //peut etre le retablir pour un tuto ? 
        // popup
        //     .setLatLng(e.latlng)
        //     .setContent("You clicked the map at " + e.latlng.toString())
        //     .openOn(map);

        if(current_transport != last_transport || chemin.length == 0 || current_transport != chemin[chemin.length-1].color){
            chemin.push({
                "color" : current_transport,
                "line_points" : [],
                "polyline" : L.polyline([], {color: current_transport}).addTo(map)
            })

            if(chemin.length > 1) {
                // on ne part pas de zéro donc on reprend le dernier point
                var  derniere_line = chemin[chemin.length - 2]
                var  last_point = derniere_line.line_points[derniere_line.line_points.length -1]
                chemin[chemin.length - 1].line_points.push( last_point);
            }
            last_transport= current_transport;
        }

        let last_line = chemin[chemin.length - 1];
        last_line.line_points.push(e.latlng);
        last_line.polyline.setLatLngs(last_line.line_points);

    }

    var preview_polyline = L.polyline([], {color: "pink"}).addTo(map);
    function OnMouseMove(e) {
        if(chemin.length == 0){
            return
        }

        let last_line = chemin[chemin.length - 1];

        let preview_line = last_line.line_points.slice(-1);
        preview_line.push(e.latlng);
        preview_polyline.setLatLngs(preview_line);


        preview_polyline.setStyle({color:current_transport})
        //preview_polyline.redraw();



    }

    function OnSubmit(e) {
        e.preventDefault();
        var hidden = document.querySelector("#chemins-field");


        var error_map = document.getElementById('error_map')
        if (chemin.length == 0) {
            error_map.innerHTML = "Veuillez tracer votre chemin"
            error_map.scrollIntoView({
                behavior: 'smooth'
            });
            return false
        }
        else {
            error_map.innerHTML = ""  
        }
        
        //resolve circular dependancy 
        var tmp_chemin = chemin;
        tmp_chemin.map((e) => delete e.polyline);
        hidden.value = JSON.stringify(tmp_chemin);

        return true;

    }

    map.on('click', onMapClick);
    map.on('mousemove', OnMouseMove);

    document.querySelector('form').addEventListener("submit", OnSubmit);

</script>



</body>
</html>
